.add-toy-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
   
}

.dialog-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.dialog-div {
    padding: 20px;
}

